{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/characters/character-detail.css' %}"
/>
<script defer src="{% static 'js/character-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="character-container">
  <div class="character-img">
    <img 
      src="" 
      alt="A beloved character"
    >
  </div>
  <div class="character-details">
    <h1>{{ character.name }}</h1>
    <p>Age: {{ character.age }}</p>
    <p>{{ character.pronoun }} comes from {{ character.media }}.</p>
    <p><small>{{ character.description }}</small></p>
    <div class="character-actions">
      <a href="{% url 'characters_update' character.id%}" class="btn warn">Edit</a>
      <a href="{% url 'characters_delete' character.id%}" class="btn danger">Delete</a>
    </div>
  </div>
  </section>
  <div class="title-sig-container">
    <section class="titles">
      <div class="subsection-title">
        <h2>Appears In:</h2>
        <img 
          src="{% static 'images/cat-cone.svg' %}" 
          alt="An ice cream cone cat"
        />
        <img 
          src="{% static 'images/cat-onigiri.svg' %}"
          alt="A cat as onigiri"
        />
        <img 
          src="{% static 'images/kitty-kabob.svg' %}" 
          alt="A kabob of kittens"
        />
    </div>

    <h3>Titles</h3>
    {% if character.title_set.all.count %}
    <table>
      <thead>
        <tr><th>Title</th><th>Release Date</th></tr>
      </thead>
      <tbody>
        {% for title in character.title_set.all %}
          <tr>
            <td>{{title.title}}</td>
            <td>{{title.date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>Add titles that {{character.name}} appears in!</p>
    </div>
    {% endif %}
    <h3>Add a Title</h3>
    <form
      action="{% url 'add_title' character.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ title_form.as_p }}
      <button type="submit" class="btn submit">Add Title</button>
    </form>
  </section>
</div>

{% endblock %}