{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/characters/character-detail.css' %}"
/>
<script defer src="{% static 'js/character-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="character-container">
  <div class="character-img">
    <img 
      src="" 
      alt="A beloved character"
    >
  </div>
  <div class="character-details">
    <h1>{{ character.name }}</h1>
    <p>Age: {{ character.age }}</p>
    <p>{{ character.pronoun }} comes from {{ character.media }}.</p>
    <p><small>{{ character.description }}</small></p>
    <div class="character-actions">
      <a href="{% url 'characters_update' character.id%}" class="btn warn">Edit</a>
      <a href="{% url 'characters_delete' character.id%}" class="btn danger">Delete</a>
    </div>
  </div>
  </section>
  <div class="title-sig-container">
    <section class="titles">
      <div class="subsection-title">
        <h2>Appears In:</h2>
        <img 
          src="{% static 'images/cat-cone.svg' %}" 
          alt="An ice cream cone cat"
        />
        <img 
          src="{% static 'images/cat-onigiri.svg' %}"
          alt="A cat as onigiri"
        />
        <img 
          src="{% static 'images/kitty-kabob.svg' %}" 
          alt="A kabob of kittens"
        />
    </div>

    <h3>Titles</h3>
    {% if character.title_set.all.count %}
    <table>
      <thead>
        <tr><th>Title</th><th>Release Date</th></tr>
      </thead>
      <tbody>
        {% for title in character.title_set.all %}
          <tr>
            <td>{{title.title}}</td>
            <td>{{title.date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>Add titles that {{character.name}} appears in!</p>
    </div>
    {% endif %}
    <h3>Add a Title</h3>
    <form
      action="{% url 'add_title' character.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ title_form.as_p }}
      <button type="submit" class="btn submit">Add Title</button>
    </form>
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Mediums</h2>
      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>
    <h3>{{ character.name }} lives in:</h3>
    <div class="subsection-content">
      {% if character.medium.count %}
        {% for medium in character.medium.all %}
          <div class="sig-container">
            <div 
              class="color-block"
              style="background-color: {{ medium.color }}"
            ></div>
            <a href="{% url 'medium_detail' medium.id %}">
              <p>{{ medium.medium }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{character.name}} doesn't any mediums yet 😞</p>
      {% endif %}
    </div>
    <h3>Available Mediums</h3>
    <div class="subsection-content">
      <h3>Available Toys</h3>
      <div class="subsection-content">
        {% comment %} We'll display available toys here {% endcomment %}
        {% if medium.count %}
          {% for medium in medium.all %}
            <div class="medium-container">
              <div 
                class="color-block"
                style="background-color: {{ medium.color }}"
              ></div>
              <a href="{% url 'medium_detail' medium.id %}">
                <p> {{ medium.medium }}</p>
              </a>
              <form action="{% url 'assoc_medium' character.id medium.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn submit">Add medium</button>
              </form>
            </div>
          {% endfor %}
        {% else %}
          <p class="all-toys">
            {{character.name}} already has all the available mediums 🥳
          </p>
        {% endif %}
      </div>
    </section>
  </div>
    </div>
  </section>

</div>

{% endblock %}